repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    - id: trailing-whitespace
    - id: check-added-large-files
    - id: check-json
    - id: check-ast
    - id: check-merge-conflict
    - id: check-toml
    - id: check-yaml
      args: [--unsafe]
    - id: debug-statements
    - id: detect-private-key
    - id: end-of-file-fixer
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.910
  hooks:
  - id: mypy
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
    name: Run black formatter
    language_version: python3.11
- repo: https://github.com/humitos/mirrors-autoflake.git
  rev: v1.3
  hooks:
  - id: autoflake
    args: ['--in-place', '--remove-all-unused-imports']
- repo: https://github.com/asottile/pyupgrade
  rev: v2.25.0
  hooks:
  - id: pyupgrade
    name: Check for code that can use new Python features
    args: [--py39-plus]