name: "`dltflow` Test Suite"

on:
  push:
    branches:
      - '*'
    tags:
      - v*.*
      - prod

defaults:
  run:
    shell: bash

jobs:
  tests:
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    runs-on: ubuntu-latest
    steps:
      - name: Use Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: 'Checkout & Build.Reason: ${{ env.Build.Reason }} & Build.SourceBranchName: ${{ env.Build.SourceBranchName }}'
        uses: actions/checkout@v2
        with:
          persist-credentials: true
          clean: true

      - name: "Install dependencies"
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox wheel build setuptools
          python -m pip install -r requirements.txt
          python -m pip install -r dev-requirements.txt
          pip install -e .

      - name: Run Unit Tests
        run: tox -p -e $(tox -l | grep $(echo ${{ matrix.python-version }} | sed 's/\.//g') | paste -sd "," -) -vv

      - name: "Combine Coverage Summary"
        run: |
          export TOTAL=$(python -c "import json;print(json.load(open('coverage.json'))['totals']['percent_covered_display'])")
          echo "total=$TOTAL" >> $GITHUB_ENV
          echo "### Total coverage: ${TOTAL}%" >> $GITHUB_STEP_SUMMARY

      - name: Install coverage badge requirements
        run: |
          npm i coverage-badges-cli

      - name: Create Coverage Badges
        uses: jaywcjlove/coverage-badges-cli@main
        with:
          style: flat
          source: ./coverage.json
          output: coverage/badges.svg
          jsonPath: totals.percent_covered


  docs:
    runs-on: ubuntu-latest
    needs:
      - tests
    permissions:
      contents: write
    name: "Docs to GH Pages"
    steps:
      - name: "Checkout repo"
        uses: "actions/checkout@v2"

      - name: "Set up Python"
        uses: "actions/setup-python@v2"
        with:
          python-version: "3.11"

      - name: "Make docs"
        uses: ammaraskar/sphinx-action@7.1.2
        with:
          docs-folder: "docs/"

      - name: "Deploy docs"
        uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html
